[tool.poetry]
name = "eps-assist-me"
version = "0.0.1-alpha"
description = "EPS Assist Me"
authors = [
    "EPS Team"
]
readme = "README.md"
repository = "https://github.com/NHSDigital/eps-assist-me"
package-mode = false

[tool.poetry.dependencies]
python = "^3.14"

[tool.poetry.scripts]

[tool.poetry.group.dev.dependencies]
pytest = "^9.0.2"
pre-commit = "^4.5.1"
cfn-lint = "^1.43.1"
black = "^25.12.0"
flake8 = "^7.3.0"
jinja2 = "^3.1.6"
pip-licenses = "^5.0.0"
click = "^8.3.0"
rich = "^14.1.0"
pytest-mock = "^3.15.1"
pytest-cov = "^7.0.0"
moto = {extras = ["ssm"], version = "^5.1.18"}
markitdown = {extras = ["pdf", "docx", "pptx", "xlsx"], version = "^0.0.2"}


[tool.poetry.group.slackBotFunction.dependencies]
slack-bolt = "^1.25.0"
slack-sdk = "^3.39.0"
boto3 = "^1.42.14"
requests = "^2.32.5"
opensearch-py = "^3.1.0"
urllib3 = "^2.6.2"
aws-lambda-powertools = "^3.23.0"
boto3-stubs = {extras = ["bedrock-agent", "bedrock-agent-runtime", "bedrock-runtime", "cloudformation", "dynamodb", "lambda"], version = "^1.42.13"}


[tool.poetry.group.syncKnowledgeBaseFunction.dependencies]
boto3 = "^1.42.14"
aws-lambda-powertools = "^3.23.0"

[tool.black]
line-length = 120

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry.requires-plugins]
poetry-plugin-export = ">=1.8"
